@import url(https://fonts.googleapis.com/css?family=Raleway);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container .row::before, .container .row::after {
  content: '';
  display: block;
  clear: both; }

.container {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto; }
  .container .row [class*='col-'] {
    width: 100%; }
    @media (min-width: 640px) {
      .container .row [class*='col-'] {
        width: 8.33333%;
        float: left; } }
  @media (min-width: 640px) {
    .container .row .col-1 {
      width: 8.33333%; }
    .container .row .col-2 {
      width: 16.66667%; }
    .container .row .col-3 {
      width: 25%; }
    .container .row .col-4 {
      width: 33.33333%; }
    .container .row .col-5 {
      width: 41.66667%; }
    .container .row .col-6 {
      width: 50%; }
    .container .row .col-7 {
      width: 58.33333%; }
    .container .row .col-8 {
      width: 66.66667%; }
    .container .row .col-9 {
      width: 75%; }
    .container .row .col-10 {
      width: 83.33333%; }
    .container .row .col-11 {
      width: 91.66667%; }
    .container .row .col-12 {
      width: 100%; } }

body {
  background: #161C2E;
  font-family: 'Raleway', sans-serif;
  color: #161C2E; }

.container {
  padding-top: 20px; }

path:hover {
  fill: #EF6C35;
  stroke-width: 1px;
  stroke: #DE5B24; }

.fill {
  fill: #EF6C35 !important; }

.flag {
  width: 80px;
  height: 50px; }

table {
  border-radius: 2rem;
  padding: 10px;
  background: #2BB3C0;
  margin: 10px auto;
  border-collapse: collapse; }
  table th {
    border-bottom: 5px solid #EF6C35;
    font-size: 2rem;
    padding: 10px; }
  table td {
    vertical-align: top;
    width: 150px;
    padding: 10px; }

input {
  width: 150px;
  background: #FAF7F2;
  color: #161C2E;
  border: 1px solid #EF6C35;
  padding: 5px; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both; }
ty); };
/******/
/******/ 	// __webpack_public_path__
/******/ 	__webpack_require__.p = "";
/******/
/******/ 	// Load entry module and return exports
/******/ 	return __webpack_require__(__webpack_require__.s = 199);
/******/ })
/************************************************************************/
/******/ ({

/***/ 199:
/***/ (function(module, exports) {

// removed by extract-text-webpack-plugin

/***/ })

/******/ });