@import url('https://fonts.googleapis.com/css?family=Raleway');

// COMMON
body {
    background: #161C2E;
    font-family: 'Raleway', sans-serif;
    color: #161C2E;
}

.container {
    padding-top: 20px;
}

path:hover {
    fill: #EF6C35;
    stroke-width: 1px;
    stroke: #DE5B24;
}

.autocomplete {
    position: absolute;
    top: 20px;
    left: 100px;
}

.fill{
    fill: #EF6C35 !important;
}

.flag {
    width: 80px;
    height: 50px;
}

// SPECIFIC
table {
    border-radius: 2rem;
    padding: 10px;
    background: #2BB3C0;
    margin: 10px auto;
    border-collapse: collapse;
    th {
        border-bottom: 5px solid #EF6C35;
        font-size: 2rem;
        padding: 10px;
    }
    td {
        vertical-align: top;
        width: 150px;
        padding: 10px;
    }
}


input {
    width: 150px;
    background: #FAF7F2;
    color: #161C2E;
    border: 1px solid #EF6C35;
    padding: 5px;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
